body {
	background-color: #000000;
	font-family: Verdana, Geneva, sans-serif;
	min-width: 80%;/*80%*/
	overflow: auto;
}

.links {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 1%;
}

.links a:link, a:visited, button {
	font-size: 100%;
	background-color: black;
	color: #B8860B;
	padding: 2% 2%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border: none;	
	cursor: pointer;
}

.links a:hover, a:active, button:hover{
	background-color: #FFE4C4;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
	max-width: 100%;
}

.dropdown-content a {
    color: #B8860B;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFE4C4}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-Eins {
	color: #B8860B;
	font-size: 150%;
	text-align: center;
	max-width: 100%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

.Einleitung {
	color: #FFE4C4;
	font-size: 100%;
	text-align: center;
	max-width: 90%;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

#Gin {
	background-image: url("Gin.jpg");
	background-size: 100% 180%;
}

#Bourbon {
	background-image: url("Bourbon.jpg");
	background-size: 100% 180%;
}

#Tiki {
	background-image: url("Tiki.jpg");
	background-size: 100% 100%;
}
/*Bild von der Home seite*/
.Bild {
	background-image: url("C:\Users\MeisterVasqus\Desktop\Github\MeisterVasqus.github.io\Cocktails.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 120%;
	padding-top: 15%;
	padding-bottom: 20%;
}

.header-Zwei {
	background-position: center;
	background-repeat: no-repeat;
	color: #B8860B;
	font-size: 120%;
	text-align: center;
	max-width: 100%;
	margin: auto;
	padding-top: 10%;
	padding-bottom: 10%;
}

.Others, .Bourbon, .Tiki, .Wodka, .Gin, .Irish, .Scotch, .Rye {
	margin-left: -0,9%;
	margin-right: -0,9%;
}

/*Cocktail formatting*/
#Boulevardier, #Derby, #Jack-Torrance, #Mint-Julep,  #Revolver, #Flying-Cangaroo, #Long-Island-Iced-Tea,  
#Aviation, #Dry-Martini, #Gin-Tonic-007, #Red-Lion,  #Silver-Fizz, #The-Vesper, #White-Lady, #Brainstorm, 
#Irish-Blackthorn, #Irish-Old-Fashioned, #Black-Watch, #Bobby-Burns, #Mamie-Taylor, #Rob-Roy, #ScotchandSoda,  
#Smoky-Grove, #Unholy-Alliance, #Ancient-Mariner, #Fog-Cutter, #Mai-Tai, #Mr-Bali-Hai,  #Planters-Punch, 
#Zombi, #Moscow-Mule, #Peach-Sling, #Watermelon-Man, #FAV-Gold-Rush, #FAV-Old-Fashioned, #FAV-Rum-Runner,
#FAV-Moscow-Mule, #FAV-Golden-Dream {
	/*Formating of the Brown Area*/
	background-color: #1a0d00;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	/*Formating of the Text in the Area*/
	color: #FFE4C4;
	font-size: 100%;
	text-align: left;
	max-width: 100%;
	margin: auto;
	margin-top: 1%;
}
/*Formating of the Headers*/
#LHeader {
	color: #B8860B;
	font-size: 100%;
	text-align: left;
	max-width: 100%;
	margin: auto;
	margin-bottom: 2%;
}
/*Cocktail formatting*/
#Golden-Dream, #BourbonandBranch, #Gold-Rush, #Lynchburg-Lemonade, #Old-Fashioned, #Whiskey-Sour, 
#Bees-Knees, #Gimlet, #Pengu-Club, #Satans-Whiskers, #Sweet-Martini, #Tom-Collins, #Cameron´s-Kick, 
#Irish-Coffee, #Tipperary, #BloodandSand, #Full-Windsor, #Penicillin, #Scotch-Lodge, #Smoky-Grail, 
#To-Hell-With-Spain, #Woolworth, #Doctor-Funk, #Jungle-Bird, #Missionarys-Downfal, #Navy-Grog, 
#Suffering-Bastard, #One-Night-In-Bangkok, #White-Russian, #Very-Blueberry, #FAV-Lynchburg-Lemonade, 
#FAV-Whiskey-Sour, #FAV-Very-Blueberry, #FAV-Long-Island-Iced-Tea, #Twelve-Mile-Limit {
	/*Formating of the Black Area*/
	background-color: #000000;
	padding-top: 2%;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 2%;
	/*Formating of the Text in the Area*/
	color: #FFE4C4;
	font-size: 100%;
	text-align: right;
	max-width: 100%;
	margin: auto;
	margin-top: 2%;
}
/*Formating of the Headers*/
#RHeader {
	color: #B8860B;
	font-size: 100%;
	text-align: right;
	max-width: 100%;
	margin: auto;
	margin-top: %;
	margin-bottom: 2%;
}